.Col{
  width: 25%;
  height: 13rem;
  padding: 24px;
  margin-right: 5rem;
  border-radius: 2rem;
  background-color: #71e49d;
}
.Col header{
  height: 4rem;
}
.Col main{
  font-size: 24px;
  text-align: center;
}
.Row{
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}
.Divider{
  border: 4px #2ea765 !important;
}
.Col hr{
  position: relative;
  width: 15.9rem;
  left: -1.5rem;
  border-color: #2ea765;
}
